Flask==2.3.2
gTTS==2.2.3
Pillow==8.3.2
moviepy==1.0.3
python-docx==0.8.11
PyPDF2==1.26.0
spacy==3.5.0
textblob==0.15.3
scikit-learn==1.2.2
sklearn
pandas
numpy
python-docx
PyPDF2
waitress

